* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0x solid red;
}

:root {
  --light-pink: #ffd7f0;
  --dark-pink: #bc5587;
  --light-purple: #C7B6F2;
  --dark-purple: #5B4A8F;
  --light-blue: #A8C7F7;
  --dark-blue: #315d9f;
  --light-turquoise: #BEE9F7;
  --dark-turquoise: #3d7f95;
  --off-white-blue: #F8F9FF;
  --off-white-pink: #FFF8FE;
  --off-white-yellow: #FFFFF8;
  --hot-pink: #ee2385;
  --hot-purple: #8837ec;
}

a {
  color: var(--light-pink);
  transition: color 0.5s;
  text-decoration: none;
}

a:hover {
  color: var(--dark-pink);
}

header {
  background-color: var(--off-white-pink);
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 1.1rem;
}

.header-left-item-one,
.header-left-item-two {
  color: var(--dark-pink);
}

header,
.header-left-items-cont,
.header-right-items-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.learn-flex-cont,
.about-macabetta-flex-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.dropdown-icon {
  width: 1rem;
}

.logo {
  max-width: 100px;
}

.header-right-item-one,
.header-right-item-two,
.header-right-item-three {
  width: 2rem;
  margin: 5px;
}

.header-right-item-three {
  margin-left: 30px;
}

.gradient-under-header {
  width: 100vw;
  height: 2px;
  background: linear-gradient(to right, var(--hot-purple), var(--hot-pink))
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("assets/images/MacaBettaHeroImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero h1,
.hero h3,
.hero .button,
.dotted {
  margin: 20px 20px 20px 150px;
}

h1 {
  font-size: 3rem;
  font-family: "Josefin Sans";
  color: var(--dark-purple);
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-family: "Quicksand";
  color: var(--dark-purple);
  font-weight: 500;
}

.dotted {
  border-top: 3px dotted var(--dark-purple);
  width: 200px;

}

.button {
  font-size: 1.5rem;
  font-family: "Bebas Neue";
  padding: 20px 50px;
  border-radius: 99px;
  background-color: var(--dark-pink);
  transition: background-color 0.5s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background-color: var(--light-pink);
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
}