* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid red;
}

:root {
  --light-pink: #F6A5D8;
  --dark-pink: #D873A4;
  --light-purple: #C7B6F2;
  --dark-purple: #5B4A8F;
  --light-blue: #A8C7F7;
  --dark-blue: #315d9f;
  --light-turquoise: #BEE9F7;
  --dark-turquoise: #3d7f95;
  --off-white-blue: #F8F9FF;
  --off-white-pink: #FFF8FE;
  --off-white-yellow: #FFFFF8;
}

body {
  background-color: rgb(64, 64, 64);
}

a {
  color: var(--light-pink);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--dark-pink);
}

header {
  background-color: var(--off-white-pink);
}

.header-left-item-one,
.header-left-item-two,
.header-right-item-one,
.header-right-item-two {
  margin: 10px;
}

.header-left-item-one,
.header-left-item-two {
  color: var(--dark-pink);
}

header,
.header-left-items-cont,
.header-right-items-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo {
  max-width: 100px;
}

.header-right-item-one,
.header-right-item-two {
  width: 2rem;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url("assets/images/MacaBettaHeroImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}